# 08. 문자열 포멧팅
## 01. 형식 문자 활용 포멧팅
### 형식문자의 기본 사용

In [ ]:
# '%' 연산자 뒤의 값이 '%d를 치환한다."

str1 = '나는 %d원을 갖고 있다.' % 10000

# 실수값 표현하기

money = 123.456789
print("[%f]원 입니다."% money)

lang = 'Python'
str2 = 'Hello %s' % lang

# 형식문자를 포함한 문자만 별도의 변수로 지정
str3 = '%s 날짜는 %d년 %d월 %d일 입니다.'

# 여러 형식문자를 치환할 경우 값들을 괄호로 묶는다
msg1 = str3 % ('정모', 2023, 1 ,1)
msg2 = str3 % ('약속', 2023, 3 ,5)

### 정수의 자릿수 표현과 정렬

In [1]:
# 자리수 지정하기 -> 오른쪽 정렬, 빈자리는 공백으로 지정
print('[%10d]원을 입금했습니다.'%120000)

# 자리수 지정하기 -> 오른쪽 정렬, 빈자리는 0으로 지정
print('[%010d]원을 입금했습니다.'%120000)

# 자리수 지정하기 -> 왼쪽 정렬, 빈자리는 공백으로 지정 ( 0 불가)
print('[%-10d]원을 입금했습니다.'%120000)

# 자리수 지정하기 -> 빈자리는 공백지정만 가능함.
print("[%10s]에 살고 있습니다." % "대한민국")
print("[%-10s]에 살고 있습니다." % "대한민국")

[    120000]원을 입금했습니다.
[0000120000]원을 입금했습니다.
[120000    ]원을 입금했습니다.
[      대한민국]에 살고 있습니다.
[대한민국      ]에 살고 있습니다.

### 실수의 자릿수 표현과 정렬

In [4]:
# 실습을 위한 변수
myMoney = 12345.6789

# 소수점 3자리까지 표현하기 -> 소수점 4째자리에서 반올림.
print("[%0.3f]원 입니다." % myMoney)

# 소수점 3자리까지 표현하되 전체 글자수는 10글자 (빈자리 공백)
# 소수점이 자리수에 포함됨
# -> 오른쪽 정렬
print("[%10.3f]원 입니다." % myMoney)

# -> 왼쪽정렬
print("[%-10.3f]원 입니다." % myMoney)

# 소수점 3자리까지 표현하되 전체 글자수는 10글자 (빈자리 0)
# -> 빈 자리를 0으로 채우는 경우는 오른쪽 정렬만 가능함.
print("[%010.3f]원 입니다." % myMoney)

[12345.679]원 입니다.
[ 12345.679]원 입니다.
[12345.679 ]원 입니다.
[012345.679]원 입니다.

## 2. format() 메서드 포멧팅
### 인덱스 이름을 사용한 문자열 포멧팅

In [6]:
# 0번째 위치에 format()함수에 전달된 0번째 값을 대입
msg1 = 'I eat {0} apples'
print(msg1.format(3))

# 여러 개의 값을 혼용하기
msg2 = '{0}은 {1}년 {2}월 {3}일 입니다.'
print(msg2.format('개강일', 2023, 1, 26))

# 이름으로 넣기 --> format() 메서드에 전달되는 파라미터 순서는 영향이 없다.
msg3 = '{name}은 {yy}년 {mm}월 {dd}일 입니다.'
print(msg3.format(mm=10, name = '종강일', dd=20, yy=2023))

I eat 3 apples
개강일은 2023년 1월 26일 입니다.
종강일은 2023년 10월 20일 입니다.

###  인덱스 번호와 이름의 혼합 사용

In [ ]:
# 혼합사용 -> 숫자형식의 치환문자가 format() 메서드 안에서 먼저 위치해야 한다.
msg4 = '{0}은 {yy}년 {mm}월 {dd}일 입니다.'
print(msg4.format('생일', mm=10, dd=20, yy=2023))

# 인데스 번호는 format() 함수 내의 순서 -> 형식 문자열 안에서는 자유롭게 배치 가능
msg5 = '{1} {name}는 이 {0}입니다.'
rst = msg5.format('책', '좋은', name = '교과서')
print(rst)

###  혼합 사용할수 없는 경우

In [7]:
# format() 메서드 안에서 인덱스 번호보다 이름이 먼저 지정될 경우 에러가 발생함

err = '이 {0}(은)는 {1}{name} 입니다.'
err_result = err.format(name = '교과서','책','좋은')

SyntaxError: positional argument follows keyword argument (1497421375.py, line 4)

### 출력값 정렬

In [9]:
# 5글자 오른쪽 정렬 -> '%5s'와 동일
sort1 = '[{0:>5}]!!Python, [{1:>9}]~Python'
print(sort1.format('Hi','Welcome'))

# 5글자 왼쪽 정렬 -> '%-5s'와 동일
sort2 = '[{0:<5}]!!Python, [{1:<9}]~Python'
print(sort2.format('Hi','Welcome'))

# 가운데 정렬
sort3 = '[{0:^10}]!!Python, [{1:^9}]~Python'
print(sort3.format('Hi','Welcome'))

[   Hi]!!Python, [  Welcome]~Python
[Hi   ]!!Python, [Welcome  ]~Python
[    Hi    ]!!Python, [ Welcome ]~Python

### 공백을 특정 글자로 채우기

In [12]:
blank1 = '[{0:~<5}]!!Python!! [{1:*^9}]!!Python'
print(blank1.format('Hi','Hello'))

phone = '010-1234-5678'
blank2 = '{0}-{1:*>4}-{2}'
result = blank2.format(phone[0:3],'',phone[-4:])
print(result)

[Hi~~~]!!Python!! [**Hello**]!!Python
010-****-5678

### 소수점 처리하기

In [14]:
# 소수점 4째자리까지 표현하기 -> 5째자리에서 반올림
float1 = '{0:0.04F}'
print(float1.format(123.456789))

# 전체 10글자, 소수점 4째자리까지 표현하기 -> 5째자리에서 반올림
float2 = '[{0:10.04F}]'
print(float2.format(123.456789))

# 전체 10글자, 공백은 0 , 소수점 4째자리까지 표현하기 -> 5째자리에서 반올림
float3 = '{0:010.04F}'
print(float3.format(123.456789))

123.4568
[  123.4568]
00123.4568

### 중괄호 출력하기

In [15]:
str = '{{python}}은 {0}다'
print( str.format('쉽'))

{python}은 쉽다