# 24. CSV 파일 다루기
## 1. CSV파일의 이해

In [3]:
grade = [
    {'name': '철수', 'kor': 95, 'eng': 88, 'math': 72},
    {'name': '영희', 'kor': 92, 'eng': 90, 'math': 95},
    {'name': '철민', 'kor': 88, 'eng': 76, 'math': 64}
]

# encoding을 euc-kr로하면 excell에서 안깨지고 utf-8로하면 visual studio code에서 안깨짐
with open('grade.csv','w',encoding='euc-kr') as f:
    f.write('이름,국어,영어,수학\n')
    for item in grade:
        f.write(f'{item['name']},{item['kor']},{item['eng']},{item['math']}\n')

In [5]:
grade_dic = {
    '이름' : ['철수','영희','민철','수현','호영'],
    '국어' : [98, 88, 92, 63, 120],
    '영어' : [76, 90, 70, 60, 50],
    '수학' : [88, 62, 88, 31, 76],
    '과학' : [64, 72, 45, 70, 88]
}

keys = list(grade_dic.keys())
title = ','.join(keys)
with open('grade2.csv','w',encoding='euc-kr') as f:
    f.write(title+'\n')

    for i in range(len(grade_dic['이름'])):
        f.write(f'{grade_dic['이름'][i]}, {grade_dic['국어'][i]}, {grade_dic['영어'][i]}, {grade_dic['수학'][i]}, {grade_dic['과학'][i]}\n')

In [7]:
csv_list = None
with open('grade.csv','r',encoding='euc-kr') as f:
    csv_list = f.readlines()

    print(csv_list)

    data = []
    for i,line in enumerate(csv_list):
        if i == 0 : continue

        k = line.strip().split(',')

        item = {'name': k[0], 'kor':int(k[1]), 'eng': int(k[2]), 'math': int(k[3])}

        data.append(item)
data

['이름,국어,영어,수학\n', '철수,95,88,72\n', '영희,92,90,95\n', '철민,88,76,64\n']

[{'name': '철수', 'kor': 95, 'eng': 88, 'math': 72},
 {'name': '영희', 'kor': 92, 'eng': 90, 'math': 95},
 {'name': '철민', 'kor': 88, 'eng': 76, 'math': 64}]

연구과제

In [5]:
with open('traffic_acc.csv','r',encoding='utf-8') as f:
    csv_list = f.readlines()
    data = []
    for i,line in enumerate(csv_list):
        if i == 0 : continue
        k = line.strip().split(',')
        item = {'년도': k[0], '월':int(k[1]), '발생건수': int(k[2]), '사망자수': int(k[3]), '부상자수': int(k[4])}
        data.append(item)


tot_h = 0 # 총 발생건수
tot_d = 0 # 총 사망자 수
tot_i = 0 # 총 부상자 수

avg_h = [0]*12 # 월 평균 발생건수
avg_d = [0]*12 # 월 평균 사망자 수
avg_i = [0]*12 # 월 평균 부상자 수
count_month = [0]*12 # 발생한 월 수 확인
for i in data:
    tot_h += i['발생건수']
    tot_d += i['사망자수']
    tot_i += i['부상자수']
    month = i['월'] -1
    avg_h[month] += i['발생건수']
    avg_d[month] += i['사망자수']
    avg_i[month] += i['부상자수']
    count_month[month] += 1

print(f'기간내 발생한 교통사고의 발생건수의 총합은 {tot_h}건수 이고 사망자 수의 총합은 {tot_d}명 이며 부상자 수의 총합은 {tot_i}명 입니다.')
for i in range(12):
    print('%s월달의 평균 교통사고의 발생건수 : %0.2f, 사망자 수 : %0.2f, 부상자 수 : %0.2f' % (i+1, avg_h[i]/count_month[i], avg_d[i]/count_month[i], avg_i[i]/count_month[i]))

기간내 발생한 교통사고의 발생건수의 총합은 3084976건수 이고 사망자 수의 총합은 73436명 이며 부상자 수의 총합은 4751813명 입니다.
1월달의 평균 교통사고의 발생건수 : 16209.57, 사망자 수 : 408.14, 부상자 수 : 25538.00
2월달의 평균 교통사고의 발생건수 : 14889.00, 사망자 수 : 358.86, 부상자 수 : 23368.14
3월달의 평균 교통사고의 발생건수 : 17563.79, 사망자 수 : 398.93, 부상자 수 : 26715.07
4월달의 평균 교통사고의 발생건수 : 18415.71, 사망자 수 : 405.86, 부상자 수 : 28256.21
5월달의 평균 교통사고의 발생건수 : 19566.71, 사망자 수 : 438.79, 부상자 수 : 30056.07
6월달의 평균 교통사고의 발생건수 : 18413.79, 사망자 수 : 413.21, 부상자 수 : 27851.14
7월달의 평균 교통사고의 발생건수 : 19065.71, 사망자 수 : 430.29, 부상자 수 : 29426.79
8월달의 평균 교통사고의 발생건수 : 18900.57, 사망자 수 : 443.93, 부상자 수 : 29899.07
9월달의 평균 교통사고의 발생건수 : 19094.86, 사망자 수 : 463.64, 부상자 수 : 29236.43
10월달의 평균 교통사고의 발생건수 : 20142.57, 사망자 수 : 527.29, 부상자 수 : 30838.29
11월달의 평균 교통사고의 발생건수 : 19639.71, 사망자 수 : 493.64, 부상자 수 : 29863.00
12월달의 평균 교통사고의 발생건수 : 18453.43, 사망자 수 : 462.86, 부상자 수 : 28367.00

In [6]:
from pandas import DataFrame as d
df = d(data)
df.drop('년도', axis = 1).groupby('월').mean()

            발생건수        사망자수          부상자수
월
1   16209.571429  408.142857  25538.000000
2   14889.000000  358.857143  23368.142857
3   17563.785714  398.928571  26715.071429
4   18415.714286  405.857143  28256.214286
5   19566.714286  438.785714  30056.071429
6   18413.785714  413.214286  27851.142857
7   19065.714286  430.285714  29426.785714
8   18900.571429  443.928571  29899.071429
9   19094.857143  463.642857  29236.428571
10  20142.571429  527.285714  30838.285714
11  19639.714286  493.642857  29863.000000
12  18453.428571  462.857143  28367.000000