In [321]:
import sys
import os
work_path = os.path.abspath(os.path.join(os.getcwd(), "../../.."))
sys.path.append(work_path)

from helper.regrassion import *
from helper.util import *
from helper.plot import *
from helper.analysis import *

### [2] 데이터 가져오기

중고차 가격 예측을 위한 데이터 세트

https://www.kaggle.com/datasets/rishabhkarn/used-car-dataset

| 변수명 | 설명 |
|:--:|--:|
| car_name | Name of the car |
| registration_year | Vehicle registration year |
| insurance_validity | Type of insurance |
| fuel_type | Type of fuel |
| seats | Number of seats in the car |
| kms_driven | Total kms driven |
| ownsership | Number of ownership |
| transmission | Transmission mode |
| manufacturing_year | manufacturing year |
| mileage(kmpl) | Mileage of the car |
| engine(cc) | Engine capacity |
| max_power(bhp) | max power |
| torque(Nm) | torque |
| price(in lakhs) | Price of the used car |

In [322]:
origin = my_read_data("./res/Used_Car_Dataset.csv",info= False).drop('Unnamed: 0',axis=1)
df = origin.drop_duplicates().drop('engine(cc)',axis=1)

In [323]:
A = []
A_ = []
for i in origin['registration_year'].unique():
    try : 
        int(i)
        A.append(i)
    except:A_.append(i)
# A, A_

In [324]:
origin['registration_year'].unique()

map_registration_year = {a:None for a in A}
for i in A_:
    map_registration_year[i] = i
map_registration_year['Third Party insurance'] = None
df['registration_year'] = df['registration_year'].map(map_registration_year)
# df['registration_year']

In [325]:
month_dict = {'Apr':4,
 'Aug':8,
 'Feb':2,
 'Dec':12,
 'Jan':1,
 'Jul':7,
 'Jun':6,
 'Mar':3,
 'May':5,
 'Nov':11,
 'Oct':10,
 'Sep':9}

In [326]:
month = []
year = []
for i in df['registration_year']:
    if i:
        try:
            month.append(month_dict[i[:3]])
            year.append(int(i[-2:]))
        except : print(i)
    else:
        month.append(None)
        year.append(None)

In [327]:
df['month']=month
df['year']=year

In [328]:
origin['insurance_validity'].value_counts()
map_insurance_validity = {a:a for a in origin['insurance_validity'].unique()}
map_insurance_validity['Petrol'] = None
map_insurance_validity['Not Available'] = None
map_insurance_validity['Third Party'] = 'Third Party insurance'
df['insurance_validity'] = df['insurance_validity'].map(map_insurance_validity)
df['insurance_validity']

0               Comprehensive
1               Comprehensive
2               Comprehensive
3               Comprehensive
4               Comprehensive
                ...
1548            Comprehensive
1549    Third Party insurance
1550            Comprehensive
1551            Comprehensive
1552            Comprehensive
Name: insurance_validity, Length: 1133, dtype: object

In [329]:
origin['fuel_type'].value_counts()
map_fuel_type = {a:a for a in origin['fuel_type'].unique()}
map_fuel_type['CNG'] = None
map_fuel_type['5 Seats'] = None
df['fuel_type'] = df['fuel_type'].map(map_fuel_type)
df['fuel_type']

0       Petrol
1       Petrol
2       Diesel
3       Petrol
4       Petrol
         ...
1548    Diesel
1549    Petrol
1550    Petrol
1551    Petrol
1552    Petrol
Name: fuel_type, Length: 1133, dtype: object

In [330]:
origin['seats'].value_counts()
map_seats = {a:a if a<10 else None for a in origin['seats'].unique()}
df['seats'] = df['seats'].map(map_seats)
df['seats']

0       5.0
1       5.0
2       5.0
3       5.0
4       5.0
       ...
1548    5.0
1549    5.0
1550    5.0
1551    5.0
1552    5.0
Name: seats, Length: 1133, dtype: float64

In [331]:
origin['ownsership'].value_counts()
map_ownsership = {a:a if "Owner" in a else None for a in origin['ownsership'].unique()}
df['ownsership'] = df['ownsership'].map(map_ownsership)
df['ownsership']

0        First Owner
1        First Owner
2        First Owner
3        First Owner
4        First Owner
            ...
1548     First Owner
1549            None
1550     First Owner
1551    Second Owner
1552     First Owner
Name: ownsership, Length: 1133, dtype: object

In [332]:
A = []
A_ = []
for i in origin['transmission'].unique():
    try : 
        int(i)
        A.append(i)
    except:A_.append(i)
origin['transmission'].value_counts()

Manual                 835
Automatic              668
2017                    28
2014                     5
2011                     3
2023                     2
2020                     2
2021                     2
2022                     2
Power Windows Front      2
2018                     2
2015                     1
2016                     1
Name: transmission, dtype: int64

In [333]:
map_transmission = {a:None for a in A}
for i in A_:
    map_transmission[i] = i
map_transmission['Power Windows Front']=None
df['transmission'] = df['transmission'].map(map_transmission)
df['transmission']

0       Automatic
1       Automatic
2       Automatic
3          Manual
4       Automatic
          ...
1548    Automatic
1549         None
1550       Manual
1551       Manual
1552       Manual
Name: transmission, Length: 1133, dtype: object

In [334]:
origin['manufacturing_year'].value_counts()
A = []
A_ = []
for i in origin['manufacturing_year'].unique():
    try : 
        int(i)
        A.append(i)
    except:A_.append(i)
A, A_

(['2017',
  '2020',
  '2018',
  '2019',
  '2015',
  '2021',
  '2014',
  '2022',
  '2010',
  '2011',
  '2023',
  '2016',
  '2009',
  '2013',
  '2012',
  '2007'],
 ['Power Steering', 'Power Windows Front', 'Air Conditioner'])

In [335]:
map_manufacturing_year = {a:a for a in A}
for i in A_:
    map_manufacturing_year[i] = None
df['manufacturing_year'] = df['manufacturing_year'].map(map_manufacturing_year)
df['manufacturing_year']

0       2017
1       2020
2       2018
3       2019
4       2019
        ...
1548    2020
1549    None
1550    2017
1551    2018
1552    2018
Name: manufacturing_year, Length: 1133, dtype: object

In [336]:
for i,v in enumerate(origin['mileage(kmpl)']):
    if v>40 : df['mileage(kmpl)'][i] = None

In [337]:
# max = 13519
# min = 352

# for i,v in enumerate(origin['engine(cc)']):
#     if v < min or v > max : df['engine(cc)'][i] = None

In [338]:
df.dtypes

car_name               object
registration_year      object
insurance_validity     object
fuel_type              object
seats                 float64
kms_driven              int64
ownsership             object
transmission           object
manufacturing_year     object
mileage(kmpl)         float64
max_power(bhp)        float64
torque(Nm)            float64
price(in lakhs)       float64
month                 float64
year                  float64
dtype: object

In [339]:
df2 = my_set_category(df.dropna().drop('car_name',axis=1))
df2['price'] = df2['price(in lakhs)']
df2.drop('price(in lakhs)',axis=1,inplace=True)

df2.dtypes

registration_year     category
insurance_validity    category
fuel_type             category
seats                  float64
kms_driven               int64
ownsership            category
transmission          category
manufacturing_year    category
mileage(kmpl)          float64
max_power(bhp)         float64
torque(Nm)             float64
month                  float64
year                   float64
price                  float64
dtype: object

In [340]:
df2.head()

,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),max_power(bhp),torque(Nm),month,year,price
0,Jul-17,Comprehensive,Petrol,5.0,56000,First Owner,Automatic,2017,7.81,2996.0,333.0,7.0,17.0,63.75
1,Jan-21,Comprehensive,Petrol,5.0,30615,First Owner,Automatic,2020,17.40,999.0,9863.0,1.0,21.0,8.99
2,Sep-18,Comprehensive,Diesel,5.0,24000,First Owner,Automatic,2018,20.68,1995.0,188.0,9.0,18.0,23.75
3,Dec-19,Comprehensive,Petrol,5.0,18378,First Owner,Manual,2019,16.50,1353.0,13808.0,12.0,19.0,13.56
4,Aug-19,Comprehensive,Petrol,5.0,44900,First Owner,Automatic,2019,14.67,1798.0,17746.0,8.0,19.0,24.00

In [341]:
import numpy as np
a = (np.array(df2['year']) - int(df2['year'].min())) *12 + df2['month']
df2['registration'] = a
df2['mileage'] = df2['mileage(kmpl)']
# df2['engine'] = df2['engine(cc)']
df2['max_power'] = df2['max_power(bhp)']
df2['torque'] = df2['torque(Nm)']
df2.drop(['torque(Nm)','max_power(bhp)','mileage(kmpl)'],axis=1,inplace=True)
df2['kms_driven2']=df2['kms_driven']**2
df2['registration2'] = df2['registration']**2
df2['torque2'] = df2['torque']**2
df2['max_power2'] = df2['max_power']**2
# df2['engine2'] = df2['engine']**2
df2['mileage'] = df2['mileage'] **2

In [342]:

df3 =df2.drop(['year','month','manufacturing_year','registration_year'],axis=1)
df3.head()

,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,price,registration,mileage,max_power,torque,kms_driven2,registration2,torque2,max_power2
0,Comprehensive,Petrol,5.0,56000,First Owner,Automatic,63.75,103.0,60.9961,2996.0,333.0,3136000000,10609.0,110889.0,8976016.0
1,Comprehensive,Petrol,5.0,30615,First Owner,Automatic,8.99,145.0,302.7600,999.0,9863.0,937278225,21025.0,97278769.0,998001.0
2,Comprehensive,Diesel,5.0,24000,First Owner,Automatic,23.75,117.0,427.6624,1995.0,188.0,576000000,13689.0,35344.0,3980025.0
3,Comprehensive,Petrol,5.0,18378,First Owner,Manual,13.56,132.0,272.2500,1353.0,13808.0,337750884,17424.0,190660864.0,1830609.0
4,Comprehensive,Petrol,5.0,44900,First Owner,Automatic,24.00,128.0,215.2089,1798.0,17746.0,2016010000,16384.0,314920516.0,3232804.0

In [343]:
categories = [x for x in df3.columns if df3[x].dtypes == 'category']
categories.append('seats')
df3['seats']=df3['seats'].astype('category')

In [344]:
for c in categories:
    tmp = df3[[c, 'price']]
    my_anova(tmp, hue=c, target='price')

pingouin.anova
+----+--------------------+-------------+------+-------------+----------+---------+-------------+
|    | Source             |          SS |   DF |          MS |        F |   p-unc |         np2 |
|----+--------------------+-------------+------+-------------+----------+---------+-------------|
|  0 | insurance_validity | 2.91502e+06 |    2 | 1.45751e+06 | 0.146079 | 0.86411 | 0.000323437 |
|  1 | Within             | 9.00972e+09 |  903 | 9.97754e+06 |      nan |     nan |         nan |
+----+--------------------+-------------+------+-------------+----------+---------+-------------+

statsmodels.anova.anova_lm
+-----------------------+------+-------------+-------------+----------+----------+
|                       |   df |      sum_sq |     mean_sq |        F |   PR(>F) |
|-----------------------+------+-------------+-------------+----------+----------|
| C(insurance_validity) |    2 | 2.91502e+06 | 1.45751e+06 | 0.146079 |  0.86411 |
| Residual              |  903 | 9.00972e+09 | 9.97754e+06 |      nan |      nan |
+-----------------------+------+-------------+-------------+----------+----------+
[anova_lm] statistic: 0.146, p-value: 0.864, 귀무가설 채택
pingouin.anova
+----+-----------+-------------+------+-------------+----------+----------+-------------+
|    | Source    |          SS |   DF |          MS |        F |    p-unc |         np2 |
|----+-----------+-------------+------+-------------+----------+----------+-------------|
|  0 | fuel_type | 4.41589e+06 |    1 | 4.41589e+06 | 0.443147 | 0.505777 | 0.000489967 |
|  1 | Within    | 9.00822e+09 |  904 | 9.96484e+06 |      nan |      nan |         nan |
+----+-----------+-------------+------+-------------+----------+----------+-------------+

statsmodels.anova.anova_lm
+--------------+------+-------------+-------------+----------+----------+
|              |   df |      sum_sq |     mean_sq |        F |   PR(>F) |
|--------------+------+-------------+-------------+----------+----------|
| C(fuel_type) |    1 | 4.41589e+06 | 4.41589e+06 | 0.443147 | 0.505777 |
| Residual     |  904 | 9.00822e+09 | 9.96484e+06 |      nan |      nan |
+--------------+------+-------------+-------------+----------+----------+
[anova_lm] statistic: 0.443, p-value: 0.506, 귀무가설 채택
pingouin.anova
+----+------------+-------------+------+-------------+---------+-------------+----------+
|    | Source     |          SS |   DF |          MS |       F |       p-unc |      np2 |
|----+------------+-------------+------+-------------+---------+-------------+----------|
|  0 | ownsership | 9.91235e+08 |    2 | 4.95617e+08 | 55.7936 | 1.42357e-23 | 0.109983 |
|  1 | Within     |  8.0214e+09 |  903 | 8.88305e+06 |     nan |         nan |      nan |
+----+------------+-------------+------+-------------+---------+-------------+----------+

statsmodels.anova.anova_lm
+---------------+------+-------------+-------------+---------+-------------+
|               |   df |      sum_sq |     mean_sq |       F |      PR(>F) |
|---------------+------+-------------+-------------+---------+-------------|
| C(ownsership) |    2 | 9.91235e+08 | 4.95617e+08 | 55.7936 | 1.42357e-23 |
| Residual      |  903 |  8.0214e+09 | 8.88305e+06 |     nan |         nan |
+---------------+------+-------------+-------------+---------+-------------+
[anova_lm] statistic: 55.794, p-value: 0.000, 대립가설 채택
pingouin.anova
+----+--------------+-------------+------+-------------+----------+----------+-------------+
|    | Source       |          SS |   DF |          MS |        F |    p-unc |         np2 |
|----+--------------+-------------+------+-------------+----------+----------+-------------|
|  0 | transmission | 6.15504e+06 |    1 | 6.15504e+06 | 0.617795 | 0.432074 | 0.000682935 |
|  1 | Within       | 9.00648e+09 |  904 | 9.96292e+06 |      nan |      nan |         nan |
+----+--------------+-------------+------+-------------+----------+----------+-------------+

statsmodels.anova.anova_lm
+-----------------+------+-------------+-------------+----------+----------+
|                 |   df |      sum_sq |     mean_sq |        F |   PR(>F) |
|-----------------+------+-------------+-------------+----------+----------|
| C(transmission) |    1 | 6.15504e+06 | 6.15504e+06 | 0.617795 | 0.432074 |
| Residual        |  904 | 9.00648e+09 | 9.96292e+06 |      nan |      nan |
+-----------------+------+-------------+-------------+----------+----------+
[anova_lm] statistic: 0.618, p-value: 0.432, 귀무가설 채택
pingouin.anova
+----+----------+-------------+------+-------------+-----------+----------+-------------+
|    | Source   |          SS |   DF |          MS |         F |    p-unc |         np2 |
|----+----------+-------------+------+-------------+-----------+----------+-------------|
|  0 | seats    |  1.0103e+06 |    4 |      252575 | 0.0252529 | 0.998764 | 0.000112098 |
|  1 | Within   | 9.01162e+09 |  901 | 1.00018e+07 |       nan |      nan |         nan |
+----+----------+-------------+------+-------------+-----------+----------+-------------+

statsmodels.anova.anova_lm
+----------+------+-------------+-------------+-----------+----------+
|          |   df |      sum_sq |     mean_sq |         F |   PR(>F) |
|----------+------+-------------+-------------+-----------+----------|
| C(seats) |    4 |  1.0103e+06 |      252575 | 0.0252529 | 0.998764 |
| Residual |  901 | 9.01162e+09 | 1.00018e+07 |       nan |      nan |
+----------+------+-------------+-------------+-----------+----------+
[anova_lm] statistic: 0.025, p-value: 0.999, 귀무가설 채택

> insurance_validity, fuel_type, transmission 은 제외한다.

In [347]:
df4=my_standard_scaler(df3.drop(['insurance_validity','seats','transmission','fuel_type'],axis=1),'price')
df4

,kms_driven,registration,mileage,max_power,torque,kms_driven2,registration2,torque2,max_power2,ownsership,price
0,0.062991,-0.209149,-2.130910,2.427064,-0.161541,-0.057370,-0.369611,-0.089587,2.326759,First Owner,63.75
1,-0.498907,1.043967,-0.336543,-0.993816,-0.057013,-0.130269,1.101748,-0.088567,-0.695783,First Owner,8.99
2,-0.645330,0.208556,0.590480,0.712341,-0.163132,-0.142248,0.065468,-0.089587,0.433983,First Owner,23.75
3,-0.769773,0.656098,-0.562988,-0.387410,-0.013743,-0.150147,0.593073,-0.087587,-0.380342,First Owner,13.56
4,-0.182708,0.536753,-0.986346,0.374879,0.029450,-0.094504,0.446163,-0.086284,0.150892,First Owner,24.00
...,...,...,...,...,...,...,...,...,...,...,...
1544,-0.529077,0.298065,-0.957911,0.020286,-0.151889,-0.132975,0.165904,-0.089572,-0.114887,First Owner,11.05
1546,-0.746133,0.089212,-0.125165,-0.651214,-0.155465,-0.148808,-0.064490,-0.089580,-0.529237,First Owner,6.50
1550,-0.091954,-0.238985,-0.310641,-0.651214,-0.155465,-0.081739,-0.398569,-0.089580,-0.529237,First Owner,5.85
1551,-0.291169,0.089212,0.034024,-0.993816,-0.164371,-0.108297,-0.064490,-0.089588,-0.695783,Second Owner,4.75
1552,-0.407245,0.089212,0.642880,-0.654640,-0.074003,-0.121294,-0.064490,-0.088863,-0.531052,First Owner,6.10

In [348]:
dummy_df = my_dummies(df4)
my_pretty_table(dummy_df.head())

+----+--------------+----------------+-----------+-------------+------------+---------------+-----------------+------------+--------------+---------+---------------------------+--------------------------+
|    |   kms_driven |   registration |   mileage |   max_power |     torque |   kms_driven2 |   registration2 |    torque2 |   max_power2 |   price |   ownsership_Second Owner |   ownsership_Third Owner |
|----+--------------+----------------+-----------+-------------+------------+---------------+-----------------+------------+--------------+---------+---------------------------+--------------------------|
|  0 |    0.0629912 |      -0.209149 |  -2.13091 |     2.42706 |  -0.161541 |    -0.0573704 |       -0.369611 | -0.0895867 |      2.32676 |   63.75 |                         0 |                        0 |
|  1 |    -0.498907 |        1.04397 | -0.336543 |   -0.993816 |  -0.057013 |     -0.130269 |         1.10175 | -0.0885672 |    -0.695783 |    8.99 |                         0 |                        0 |
|  2 |     -0.64533 |       0.208556 |   0.59048 |    0.712341 |  -0.163132 |     -0.142248 |       0.0654685 | -0.0895874 |     0.433983 |   23.75 |                         0 |                        0 |
|  3 |    -0.769773 |       0.656098 | -0.562988 |    -0.38741 | -0.0137429 |     -0.150147 |        0.593073 | -0.0875875 |    -0.380342 |   13.56 |                         0 |                        0 |
|  4 |    -0.182708 |       0.536753 | -0.986346 |    0.374879 |  0.0294505 |    -0.0945039 |        0.446163 | -0.0862838 |     0.150892 |      24 |                         0 |                        0 |
+----+--------------+----------------+-----------+-------------+------------+---------------+-----------------+------------+--------------+---------+---------------------------+--------------------------+

In [349]:
x_train, x_test, y_train, y_test = my_train_test_split(dummy_df, "price", test_size=0.3)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((634, 11), (272, 11), (634,), (272,))

In [358]:
ignore = ['torque','registration2','max_power','kms_driven2','torque2','kms_driven','mileage','registration']
x_train2 = x_train.drop(ignore,axis=1)
x_test2 = x_test.drop(ignore,axis=1)
my_linear_regrassion(x_train2, y_train, x_test2, y_test, degree = 2,use_plot=False, resid_test=False)

[회귀식]
price = 10.166 * max_power2 + 1.409 * ownsership_Second Owner + -8.875 * ownsership_Third Owner + 13.794

[회귀분석 성능평가]
+--------+----------------+---------------------+---------------------+------------------+---------------------------------+-----------------------+
|        |   결정계수(R2) |   평균절대오차(MAE) |   평균제곱오차(MSE) |   평균오차(RMSE) |   평균 절대 백분오차 비율(MAPE) |   평균 비율 오차(MPE) |
|--------+----------------+---------------------+---------------------+------------------+---------------------------------+-----------------------|
| 데이터 |    -0.00408216 |             357.931 |         3.31829e+07 |          5760.46 |                         123.431 |              -101.773 |
+--------+----------------+---------------------+---------------------+------------------+---------------------------------+-----------------------+

[선형회귀분석 결과보고]
+----+------------+-------------------------+--------------------+------------+------------------+--------+------------+---------+
|    | 종속변수   | 독립변수                |   B(비표준화 계수) |   표준오차 |   β(표준화 계수) |      t |   유의확률 |     VIF |
|----+------------+-------------------------+--------------------+------------+------------------+--------+------------+---------|
|  0 | price      | max_power2              |            10.1656 |    291.207 |           -0.036 |  0.035 |      0.972 |  1.0077 |
|  1 | price      | ownsership_Second Owner |             1.4087 |    1053.82 |            0.002 |  0.001 |      0.999 | 1.00766 |
|  2 | price      | ownsership_Third Owner  |            -8.8745 |    4121.16 |            0.705 | -0.002 |      0.998 | 1.00004 |
+----+------------+-------------------------+--------------------+------------+------------------+--------+------------+---------+
𝑅^2(-0.004), Adj.𝑅^2(-0.015), F(-0.363), P-value(1), Durbin-Watson(2.000)

price에 대하여 max_power2,ownsership_Second Owner,ownsership_Third Owner로 예측하는 회귀분석을 실시한 결과, 이 회귀모형은 통계적으로 유의하지 않다(F(3,268) = -0.363, p > 0.05).

max_power2의 회귀계수는 10.166(p > 0.05)로, price에 대하여 유의하지 않은 예측변인인 것으로 나타났다.
ownsership_Second Owner의 회귀계수는 1.409(p > 0.05)로, price에 대하여 유의하지 않은 예측변인인 것으로 나타났다.
ownsership_Third Owner의 회귀계수는 -8.874(p > 0.05)로, price에 대하여 유의하지 않은 예측변인인 것으로 나타났다.

LinearRegression(n_jobs=-1)