In [364]:
import sys
import os
work_path = os.path.abspath(os.path.join(os.getcwd(), "../../.."))
sys.path.append(work_path)

from helper.regrassion import *
from helper.util import *
from helper.plot import *
from helper.analysis import *

### [2] 데이터 가져오기

| 변수명 | 설명 |
|:--:|--:|
| car_name | Name of the car |
| registration_year | Vehicle registration year |
| insurance_validity | Type of insurance |
| fuel_type | Type of fuel |
| seats | Number of seats in the car |
| kms_driven | Total kms driven |
| ownsership | Number of ownership |
| transmission | Transmission mode |
| manufacturing_year | manufacturing year |
| mileage(kmpl) | Mileage of the car |
| engine(cc) | Engine capacity |
| max_power(bhp) | max power |
| torque(Nm) | torque |
| price(in lakhs) | Price of the used car |

In [365]:
origin = my_read_data("./res/Used_Car_Dataset.csv",info= False).drop('Unnamed: 0',axis=1)
df = origin.copy()

In [366]:
origin.columns

Index(['car_name', 'registration_year', 'insurance_validity', 'fuel_type',
       'seats', 'kms_driven', 'ownsership', 'transmission',
       'manufacturing_year', 'mileage(kmpl)', 'engine(cc)', 'max_power(bhp)',
       'torque(Nm)', 'price(in lakhs)'],
      dtype='object')

In [367]:
A = []
A_ = []
for i in origin['registration_year'].unique():
    try : 
        int(i)
        A.append(i)
    except:A_.append(i)
# A, A_

In [368]:
origin['registration_year'].unique()

map_registration_year = {a:None for a in A}
for i in A_:
    map_registration_year[i] = i
map_registration_year['Third Party insurance'] = None
df['registration_year'] = df['registration_year'].map(map_registration_year)
# df['registration_year']

In [369]:
month_dict = {'Apr':4,
 'Aug':8,
 'Feb':2,
 'Dec':12,
 'Jan':1,
 'Jul':7,
 'Jun':6,
 'Mar':3,
 'May':5,
 'Nov':11,
 'Oct':10,
 'Sep':9}

In [370]:
month = []
year = []
for i in df['registration_year']:
    if i:
        try:
            month.append(month_dict[i[:3]])
            year.append(int(i[-2:]))
        except : print(i)
    else:
        month.append(None)
        year.append(None)

In [371]:
df['month']=month
df['year']=year

In [373]:
origin['insurance_validity'].value_counts()
map_insurance_validity = {a:a for a in origin['insurance_validity'].unique()}
map_insurance_validity['Petrol'] = None
map_insurance_validity['Not Available'] = None
map_insurance_validity['Third Party'] = 'Third Party insurance'
df['insurance_validity'] = df['insurance_validity'].map(map_insurance_validity)
df['insurance_validity']

0               Comprehensive
1               Comprehensive
2               Comprehensive
3               Comprehensive
4               Comprehensive
                ...
1548            Comprehensive
1549    Third Party insurance
1550            Comprehensive
1551            Comprehensive
1552            Comprehensive
Name: insurance_validity, Length: 1553, dtype: object

In [374]:
origin['fuel_type'].value_counts()
map_fuel_type = {a:a for a in origin['fuel_type'].unique()}
map_fuel_type['CNG'] = None
map_fuel_type['5 Seats'] = None
df['fuel_type'] = df['fuel_type'].map(map_fuel_type)
df['fuel_type']

0       Petrol
1       Petrol
2       Diesel
3       Petrol
4       Petrol
         ...
1548    Diesel
1549    Petrol
1550    Petrol
1551    Petrol
1552    Petrol
Name: fuel_type, Length: 1553, dtype: object

In [375]:
origin['seats'].value_counts()
map_seats = {a:a if a<10 else None for a in origin['seats'].unique()}
df['seats'] = df['seats'].map(map_seats)
df['seats']

0       5.0
1       5.0
2       5.0
3       5.0
4       5.0
       ...
1548    5.0
1549    5.0
1550    5.0
1551    5.0
1552    5.0
Name: seats, Length: 1553, dtype: float64

In [376]:
origin['ownsership'].value_counts()
map_ownsership = {a:a if "Owner" in a else None for a in origin['ownsership'].unique()}
df['ownsership'] = df['ownsership'].map(map_ownsership)
df['ownsership']

0        First Owner
1        First Owner
2        First Owner
3        First Owner
4        First Owner
            ...
1548     First Owner
1549            None
1550     First Owner
1551    Second Owner
1552     First Owner
Name: ownsership, Length: 1553, dtype: object

In [377]:
A = []
A_ = []
for i in origin['transmission'].unique():
    try : 
        int(i)
        A.append(i)
    except:A_.append(i)
origin['transmission'].value_counts()

Manual                 835
Automatic              668
2017                    28
2014                     5
2011                     3
2023                     2
2020                     2
2021                     2
2022                     2
Power Windows Front      2
2018                     2
2015                     1
2016                     1
Name: transmission, dtype: int64

In [378]:
map_transmission = {a:None for a in A}
for i in A_:
    map_transmission[i] = i
map_transmission['Power Windows Front']=None
df['transmission'] = df['transmission'].map(map_transmission)
df['transmission']

0       Automatic
1       Automatic
2       Automatic
3          Manual
4       Automatic
          ...
1548    Automatic
1549         None
1550       Manual
1551       Manual
1552       Manual
Name: transmission, Length: 1553, dtype: object

In [379]:
origin['manufacturing_year'].value_counts()
A = []
A_ = []
for i in origin['manufacturing_year'].unique():
    try : 
        int(i)
        A.append(i)
    except:A_.append(i)
A, A_

(['2017',
  '2020',
  '2018',
  '2019',
  '2015',
  '2021',
  '2014',
  '2022',
  '2010',
  '2011',
  '2023',
  '2016',
  '2009',
  '2013',
  '2012',
  '2007'],
 ['Power Steering', 'Power Windows Front', 'Air Conditioner'])

In [380]:
map_manufacturing_year = {a:a for a in A}
for i in A_:
    map_manufacturing_year[i] = None
df['manufacturing_year'] = df['manufacturing_year'].map(map_manufacturing_year)
df['manufacturing_year']

0       2017
1       2020
2       2018
3       2019
4       2019
        ...
1548    2020
1549    None
1550    2017
1551    2018
1552    2018
Name: manufacturing_year, Length: 1553, dtype: object

In [381]:
for i,v in enumerate(origin['mileage(kmpl)']):
    if v>40 : df['mileage(kmpl)'][i] = None

In [382]:
max = 13519
min = 352

for i,v in enumerate(origin['engine(cc)']):
    if v < min or v > max : df['engine(cc)'][i] = None

In [383]:
df.dtypes

car_name               object
registration_year      object
insurance_validity     object
fuel_type              object
seats                 float64
kms_driven              int64
ownsership             object
transmission           object
manufacturing_year     object
mileage(kmpl)         float64
engine(cc)            float64
max_power(bhp)        float64
torque(Nm)            float64
price(in lakhs)       float64
month                 float64
year                  float64
dtype: object

In [392]:
df2 = my_set_category(df.dropna().drop('car_name',axis=1))
df2['price'] = df2['price(in lakhs)']
df2.drop('price(in lakhs)',axis=1,inplace=True)

df2.dtypes

registration_year     category
insurance_validity    category
fuel_type             category
seats                  float64
kms_driven               int64
ownsership            category
transmission          category
manufacturing_year    category
mileage(kmpl)          float64
engine(cc)             float64
max_power(bhp)         float64
torque(Nm)             float64
month                  float64
year                   float64
price                  float64
dtype: object

In [406]:
import numpy as np
a = (np.array(df2['year']) - int(df2['year'].min())) *12 + df2['month']
a
df2['registration'] = a
df3 =df2.drop(['year','month','manufacturing_year','registration_year'],axis=1)
df3.head()
categories = [x for x in df3.columns if df3[x].dtypes == 'category']

In [407]:
for c in categories:
    tmp = df3[[c, 'price']]
    my_anova(tmp, hue=c, target='price')

pingouin.anova
+----+--------------------+-------------+------+-------------+----------+----------+-------------+
|    | Source             |          SS |   DF |          MS |        F |    p-unc |         np2 |
|----+--------------------+-------------+------+-------------+----------+----------+-------------|
|  0 | insurance_validity |  1.9494e+06 |    2 |      974700 | 0.132581 | 0.875844 | 0.000216236 |
|  1 | Within             | 9.01321e+09 | 1226 | 7.35172e+06 |      nan |      nan |         nan |
+----+--------------------+-------------+------+-------------+----------+----------+-------------+

statsmodels.anova.anova_lm
+-----------------------+------+-------------+-------------+----------+----------+
|                       |   df |      sum_sq |     mean_sq |        F |   PR(>F) |
|-----------------------+------+-------------+-------------+----------+----------|
| C(insurance_validity) |    2 |  1.9494e+06 |      974700 | 0.132581 | 0.875844 |
| Residual              | 1226 | 9.01321e+09 | 7.35172e+06 |      nan |      nan |
+-----------------------+------+-------------+-------------+----------+----------+
[anova_lm] statistic: 0.133, p-value: 0.876, 귀무가설 채택
pingouin.anova
+----+-----------+-------------+------+-------------+----------+----------+-------------+
|    | Source    |          SS |   DF |          MS |        F |    p-unc |         np2 |
|----+-----------+-------------+------+-------------+----------+----------+-------------|
|  0 | fuel_type | 3.14939e+06 |    1 | 3.14939e+06 | 0.428795 | 0.512704 | 0.000349344 |
|  1 | Within    | 9.01201e+09 | 1227 | 7.34475e+06 |      nan |      nan |         nan |
+----+-----------+-------------+------+-------------+----------+----------+-------------+

statsmodels.anova.anova_lm
+--------------+------+-------------+-------------+----------+----------+
|              |   df |      sum_sq |     mean_sq |        F |   PR(>F) |
|--------------+------+-------------+-------------+----------+----------|
| C(fuel_type) |    1 | 3.14939e+06 | 3.14939e+06 | 0.428795 | 0.512704 |
| Residual     | 1227 | 9.01201e+09 | 7.34475e+06 |      nan |      nan |
+--------------+------+-------------+-------------+----------+----------+
[anova_lm] statistic: 0.429, p-value: 0.513, 귀무가설 채택
pingouin.anova
+----+------------+-------------+------+-------------+---------+-------------+-----------+
|    | Source     |          SS |   DF |          MS |       F |       p-unc |       np2 |
|----+------------+-------------+------+-------------+---------+-------------+-----------|
|  0 | ownsership | 8.11251e+08 |    2 | 4.05626e+08 | 60.6171 | 7.87104e-26 | 0.0899875 |
|  1 | Within     | 8.20391e+09 | 1226 |  6.6916e+06 |     nan |         nan |       nan |
+----+------------+-------------+------+-------------+---------+-------------+-----------+

statsmodels.anova.anova_lm
+---------------+------+-------------+-------------+---------+-------------+
|               |   df |      sum_sq |     mean_sq |       F |      PR(>F) |
|---------------+------+-------------+-------------+---------+-------------|
| C(ownsership) |    2 | 8.11251e+08 | 4.05626e+08 | 60.6171 | 7.87104e-26 |
| Residual      | 1226 | 8.20391e+09 |  6.6916e+06 |     nan |         nan |
+---------------+------+-------------+-------------+---------+-------------+
[anova_lm] statistic: 60.617, p-value: 0.000, 대립가설 채택
pingouin.anova
+----+--------------+-------------+------+-------------+----------+----------+-------------+
|    | Source       |          SS |   DF |          MS |        F |    p-unc |         np2 |
|----+--------------+-------------+------+-------------+----------+----------+-------------|
|  0 | transmission | 4.63377e+06 |    1 | 4.63377e+06 | 0.630999 | 0.427143 | 0.000513997 |
|  1 | Within       | 9.01052e+09 | 1227 | 7.34354e+06 |      nan |      nan |         nan |
+----+--------------+-------------+------+-------------+----------+----------+-------------+

statsmodels.anova.anova_lm
+-----------------+------+-------------+-------------+----------+----------+
|                 |   df |      sum_sq |     mean_sq |        F |   PR(>F) |
|-----------------+------+-------------+-------------+----------+----------|
| C(transmission) |    1 | 4.63377e+06 | 4.63377e+06 | 0.630999 | 0.427143 |
| Residual        | 1227 | 9.01052e+09 | 7.34354e+06 |      nan |      nan |
+-----------------+------+-------------+-------------+----------+----------+
[anova_lm] statistic: 0.631, p-value: 0.427, 귀무가설 채택

> insurance_validity, fuel_type, transmission 은 제외한다.

In [408]:
df4=my_standard_scaler(df3.drop(['insurance_validity','fuel_type','transmission'],axis=1),'price')
df4

,seats,kms_driven,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),registration,ownsership,price
0,-0.304662,0.079384,-2.752291,2.295431,2.295431,-0.160540,-0.239943,First Owner,63.75
1,-0.304662,-0.532133,-0.173507,-1.028274,-1.028274,-0.052568,1.030093,First Owner,8.99
2,-0.304662,-0.691486,0.708496,0.629418,0.629418,-0.162183,0.183402,First Owner,23.75
3,-0.304662,-0.826919,-0.415520,-0.439094,-0.439094,-0.007872,0.636986,First Owner,13.56
4,-0.304662,-0.188012,-0.907614,0.301541,0.301541,0.036745,0.516031,First Owner,24.00
...,...,...,...,...,...,...,...,...,...
1544,-0.304662,-0.564967,-0.872656,-0.042979,-0.042979,-0.150570,0.274119,First Owner,11.05
1546,-0.304662,-0.801191,0.041615,-0.695404,-0.695404,-0.154263,0.062446,First Owner,6.50
1550,-0.304662,-0.089244,-0.146617,-0.695404,-0.695404,-0.154263,-0.270182,First Owner,5.85
1551,-0.304662,-0.306051,0.197579,-1.028274,-1.028274,-0.163463,0.062446,Second Owner,4.75
1552,-0.304662,-0.432378,0.754210,-0.698733,-0.698733,-0.070117,0.062446,First Owner,6.10

In [409]:
dummy_df = my_dummies(df4)
my_pretty_table(dummy_df.head())

+----+-----------+--------------+-----------------+--------------+------------------+--------------+----------------+---------+---------------------------+--------------------------+
|    |     seats |   kms_driven |   mileage(kmpl) |   engine(cc) |   max_power(bhp) |   torque(Nm) |   registration |   price |   ownsership_Second Owner |   ownsership_Third Owner |
|----+-----------+--------------+-----------------+--------------+------------------+--------------+----------------+---------+---------------------------+--------------------------|
|  0 | -0.304662 |    0.0793838 |        -2.75229 |      2.29543 |          2.29543 |     -0.16054 |      -0.239943 |   63.75 |                         0 |                        0 |
|  1 | -0.304662 |    -0.532133 |       -0.173507 |     -1.02827 |         -1.02827 |   -0.0525676 |        1.03009 |    8.99 |                         0 |                        0 |
|  2 | -0.304662 |    -0.691486 |        0.708496 |     0.629418 |         0.629418 |    -0.162183 |       0.183402 |   23.75 |                         0 |                        0 |
|  3 | -0.304662 |    -0.826919 |        -0.41552 |    -0.439094 |        -0.439094 |   -0.0078718 |       0.636986 |   13.56 |                         0 |                        0 |
|  4 | -0.304662 |    -0.188012 |       -0.907614 |     0.301541 |         0.301541 |    0.0367447 |       0.516031 |      24 |                         0 |                        0 |
+----+-----------+--------------+-----------------+--------------+------------------+--------------+----------------+---------+---------------------------+--------------------------+

In [410]:
x_train, x_test, y_train, y_test = my_train_test_split(dummy_df, "price", test_size=0.2)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((983, 9), (246, 9), (983,), (246,))

In [411]:
my_linear_regrassion(x_train, y_train, x_test, y_test, cv=5, dpi=100, use_plot=False, resid_test=False)

[교차검증]
+----+-------------------+
|    |   mean_test_score |
|----+-------------------|
|  0 |          0.471467 |
+----+-------------------+

[회귀식]
price = -1.384 * seats + -1.443 * kms_driven + -2.191 * mileage(kmpl) + 5.295 * engine(cc) + 5.295 * max_power(bhp) + 0.333 * torque(Nm) + 4.103 * registration + 0.614 * ownsership_Second Owner + -5.277 * ownsership_Third Owner + 15.242

TypeError: my_linear_regrassion_result() takes from 3 to 9 positional arguments but 10 were given