In [134]:
import sys
import os
work_path = os.path.abspath(os.path.join(os.getcwd(), "../../.."))
sys.path.append(work_path)

from helper.regrassion import *
from helper.util import *
from helper.plot import *
from helper.analysis import *

from pandas import get_dummies
import numpy  as np

### [2] 데이터 가져오기

| 변수명 | 설명 |
|:--:|--:|
| car_name | Name of the car |
| registration_year | Vehicle registration year |
| insurance_validity | Type of insurance |
| fuel_type | Type of fuel |
| seats | Number of seats in the car |
| kms_driven | Total kms driven |
| ownsership | Number of ownership |
| transmission | Transmission mode |
| manufacturing_year | manufacturing year |
| mileage(kmpl) | Mileage of the car |
| engine(cc) | Engine capacity |
| max_power(bhp) | max power |
| torque(Nm) | torque |
| price(in lakhs) | Price of the used car |

In [107]:
origin = my_read_data("./res/Used_Car_Dataset.csv",info= False).drop('Unnamed: 0',axis=1)
df = origin.copy()
my_pretty_table(df.head())

+----+---------------------------------------------------+---------------------+----------------------+-------------+---------+--------------+--------------+----------------+----------------------+-----------------+--------------+------------------+--------------+-------------------+
|    | car_name                                          | registration_year   | insurance_validity   | fuel_type   |   seats |   kms_driven | ownsership   | transmission   |   manufacturing_year |   mileage(kmpl) |   engine(cc) |   max_power(bhp) |   torque(Nm) |   price(in lakhs) |
|----+---------------------------------------------------+---------------------+----------------------+-------------+---------+--------------+--------------+----------------+----------------------+-----------------+--------------+------------------+--------------+-------------------|
|  0 | 2017 Mercedes-Benz S-Class S400                   | Jul-17              | Comprehensive        | Petrol      |       5 |        56000 | First Owner  | Automatic      |                 2017 |            7.81 |         2996 |             2996 |          333 |             63.75 |
|  1 | 2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI | Jan-21              | Comprehensive        | Petrol      |       5 |        30615 | First Owner  | Automatic      |                 2020 |            17.4 |          999 |              999 |         9863 |              8.99 |
|  2 | 2018 BMW X1 sDrive 20d xLine                      | Sep-18              | Comprehensive        | Diesel      |       5 |        24000 | First Owner  | Automatic      |                 2018 |           20.68 |         1995 |             1995 |          188 |             23.75 |
|  3 | 2019 Kia Seltos GTX Plus                          | Dec-19              | Comprehensive        | Petrol      |       5 |        18378 | First Owner  | Manual         |                 2019 |            16.5 |         1353 |             1353 |        13808 |             13.56 |
|  4 | 2019 Skoda Superb LK 1.8 TSI AT                   | Aug-19              | Comprehensive        | Petrol      |       5 |        44900 | First Owner  | Automatic      |                 2019 |           14.67 |         1798 |             1798 |        17746 |                24 |
+----+---------------------------------------------------+---------------------+----------------------+-------------+---------+--------------+--------------+----------------+----------------------+-----------------+--------------+------------------+--------------+-------------------+

In [108]:
origin.columns

Index(['car_name', 'registration_year', 'insurance_validity', 'fuel_type',
       'seats', 'kms_driven', 'ownsership', 'transmission',
       'manufacturing_year', 'mileage(kmpl)', 'engine(cc)', 'max_power(bhp)',
       'torque(Nm)', 'price(in lakhs)'],
      dtype='object')

In [109]:
A = []
A_ = []
for i in origin['registration_year'].unique():
    try : 
        int(i)
        A.append(i)
    except:A_.append(i)
A, A_

(['2014',
  '2018',
  '2017',
  '2016',
  '2009',
  '2015',
  '2023',
  '2020',
  '2011',
  '2021',
  '2012',
  '2022',
  '2013',
  '2019',
  '2010',
  '2007'],
 ['Jul-17',
  'Jan-21',
  'Sep-18',
  'Dec-19',
  'Aug-19',
  'Feb-19',
  'Jul-18',
  'Apr-15',
  'Mar-19',
  'Mar-20',
  'Feb-22',
  'Jan-22',
  'Apr-19',
  'Aug-22',
  'Mar-18',
  'Nov-19',
  'Nov-20',
  'Sep-21',
  'Oct-10',
  'Sep-15',
  'Aug-11',
  'Dec-15',
  'Aug-17',
  'Aug-20',
  'Oct-19',
  'Dec-22',
  'Jun-18',
  'Jun-17',
  'May-10',
  'Mar-23',
  'Nov-15',
  'Sep-20',
  'Jul-21',
  'Aug-18',
  'Jun-20',
  'Apr-21',
  'Nov-23',
  'Dec-20',
  'Jun-21',
  'May-11',
  'Oct-17',
  'Nov-14',
  'Feb-18',
  'Jul-16',
  'Aug-21',
  'Nov-18',
  'Oct-18',
  'Mar-17',
  'May-19',
  'May-13',
  'May-23',
  'Jul-14',
  'Sep-16',
  'May-22',
  'Aug-15',
  'Mar-21',
  'Mar-22',
  'Oct-20',
  'Apr-16',
  'Sep-23',
  'Dec-21',
  'Nov-21',
  'Dec-14',
  'Jul-22',
  'Jun-23',
  'Jul-19',
  'Dec-12',
  'Dec-16',
  'Jun-16',
  'Sep-19',
  'Jun-10',
  'Oct-14',
  'Mar-16',
  'Jun-11',
  'Dec-18',
  'Feb-20',
  'Apr-20',
  'Jan-11',
  'Oct-15',
  'Jan-19',
  'Jul-13',
  'May-21',
  'Aug-13',
  'Oct-13',
  'Nov-17',
  'May-17',
  'Jan-20',
  'May-15',
  'Sep-17',
  'Apr-22',
  'Nov-12',
  'Sep-14',
  'Aug-16',
  'Nov-13',
  'Nov-16',
  'Mar-11',
  'Jan-14',
  'Sep-13',
  'Jun-19',
  'May-14',
  'Jun-14',
  'Mar-14',
  'Oct-22',
  'May-12',
  'Mar-15',
  'May-16',
  'Oct-16',
  'Jan-23',
  'Jan-16',
  'Jun-15',
  'Feb-13',
  'Apr-23',
  'Jul-15',
  'Nov-22',
  'Feb-12',
  'Feb-23',
  'Jul-20',
  'Dec-11',
  'Mar-13',
  'Jan-12',
  'Aug-23',
  'Mar-12',
  'Feb-16',
  'Jul-11',
  'Jan-15',
  'Apr-18',
  'May-18',
  'Feb-15',
  'Apr-13',
  'Dec-17',
  'Aug-14',
  'Jan-17',
  'Jul-23',
  'Oct-21',
  'Apr-17',
  'Jul-12',
  'Feb-17',
  'Third Party insurance',
  'Mar-09',
  'Jul-10',
  'Jun-22',
  'Jun-12',
  'Nov-11',
  'Nov-10',
  'Apr-12',
  'Jan-18',
  'Nov-09',
  'Jun-13',
  'Sep-22',
  'Oct-12',
  'Apr-11',
  'Sep-12',
  'Apr-14',
  'Aug-10',
  'May-09',
  'Jan-09',
  'Feb-21',
  'Sep-11',
  'Dec-09',
  'Dec-13',
  'Mar-10',
  'Jan-10'])

In [110]:
origin['registration_year'].unique()

map_registration_year = {a:None for a in A}
for i in A_:
    map_registration_year[i] = i
map_registration_year['Third Party insurance'] = None
df['registration_year'] = df['registration_year'].map(map_registration_year)
df['registration_year']

0       Jul-17
1       Jan-21
2       Sep-18
3       Dec-19
4       Aug-19
         ...
1548    Aug-20
1549      None
1550    Jun-17
1551    May-18
1552    May-18
Name: registration_year, Length: 1553, dtype: object

In [111]:
origin['insurance_validity'].value_counts()
map_insurance_validity = {a:a for a in origin['insurance_validity'].unique()}
map_insurance_validity['Petrol'] = None
map_insurance_validity['Not Available'] = None
df['insurance_validity'] = df['insurance_validity'].map(map_insurance_validity)
df['insurance_validity']

0               Comprehensive
1               Comprehensive
2               Comprehensive
3               Comprehensive
4               Comprehensive
                ...
1548            Comprehensive
1549    Third Party insurance
1550            Comprehensive
1551            Comprehensive
1552            Comprehensive
Name: insurance_validity, Length: 1553, dtype: object

In [112]:
origin['fuel_type'].value_counts()
map_fuel_type = {a:a for a in origin['fuel_type'].unique()}
map_fuel_type['CNG'] = None
map_fuel_type['5 Seats'] = None
df['fuel_type'] = df['fuel_type'].map(map_fuel_type)
df['fuel_type']

0       Petrol
1       Petrol
2       Diesel
3       Petrol
4       Petrol
         ...
1548    Diesel
1549    Petrol
1550    Petrol
1551    Petrol
1552    Petrol
Name: fuel_type, Length: 1553, dtype: object

In [113]:
origin['seats'].value_counts()
map_seats = {a:a if a<10 else None for a in origin['seats'].unique()}
df['seats'] = df['seats'].map(map_seats)
df['seats']

0       5.0
1       5.0
2       5.0
3       5.0
4       5.0
       ...
1548    5.0
1549    5.0
1550    5.0
1551    5.0
1552    5.0
Name: seats, Length: 1553, dtype: float64

In [114]:
origin['ownsership'].value_counts()
map_ownsership = {a:a if "Owner" in a else None for a in origin['ownsership'].unique()}
df['ownsership'] = df['ownsership'].map(map_ownsership)
df['ownsership']

0        First Owner
1        First Owner
2        First Owner
3        First Owner
4        First Owner
            ...
1548     First Owner
1549            None
1550     First Owner
1551    Second Owner
1552     First Owner
Name: ownsership, Length: 1553, dtype: object

In [115]:
A = []
A_ = []
for i in origin['transmission'].unique():
    try : 
        int(i)
        A.append(i)
    except:A_.append(i)
origin['transmission'].value_counts()

Manual                 835
Automatic              668
2017                    28
2014                     5
2011                     3
2023                     2
2020                     2
2021                     2
2022                     2
Power Windows Front      2
2018                     2
2015                     1
2016                     1
Name: transmission, dtype: int64

In [117]:
map_transmission = {a:None for a in A}
for i in A_:
    map_transmission[i] = i
map_transmission['Power Windows Front']=None
df['transmission'] = df['transmission'].map(map_transmission)
df['transmission']

0       Automatic
1       Automatic
2       Automatic
3          Manual
4       Automatic
          ...
1548    Automatic
1549          NaN
1550       Manual
1551       Manual
1552       Manual
Name: transmission, Length: 1553, dtype: object

In [119]:
origin['manufacturing_year'].value_counts()
A = []
A_ = []
for i in origin['manufacturing_year'].unique():
    try : 
        int(i)
        A.append(i)
    except:A_.append(i)
A, A_

(['2017',
  '2020',
  '2018',
  '2019',
  '2015',
  '2021',
  '2014',
  '2022',
  '2010',
  '2011',
  '2023',
  '2016',
  '2009',
  '2013',
  '2012',
  '2007'],
 ['Power Steering', 'Power Windows Front', 'Air Conditioner'])

In [120]:
map_manufacturing_year = {a:a for a in A}
for i in A_:
    map_manufacturing_year[i] = None
df['manufacturing_year'] = df['manufacturing_year'].map(map_manufacturing_year)
df['manufacturing_year']

0       2017
1       2020
2       2018
3       2019
4       2019
        ...
1548    2020
1549    None
1550    2017
1551    2018
1552    2018
Name: manufacturing_year, Length: 1553, dtype: object

In [161]:
for i,v in enumerate(origin['mileage(kmpl)']):
    if v>40 : df['mileage(kmpl)'][i] = None

In [176]:
max : 13,519cc

출처 : 모토야(https://www.motoya.co.kr)

a = origin['engine(cc)'].dropna()

np.histogram(a, [100,300,1000,3000,5000,10000,15000,20000,500000]) , a.max()

((array([  37,  132, 1221,   21,   57,    6,   15,   19], dtype=int64),
  array([   100,    300,   1000,   3000,   5000,  10000,  15000,  20000,
         500000])),
 3258640000000.0)