traffic_acc.csv 파일을 데이터베이스에 저장하세요.

데이터베이스 접속

In [19]:
import cx_Oracle as cx
from sqlalchemy import create_engine
from pandas import DataFrame, read_sql_table

dbcon = cx.connect('hr',                 
                   'hr',                 
                   'localhost:1521/xe'   
)
cursor = dbcon.cursor()

저장할 테이블 생성 및 시퀀스 생성 = > 오라클에서

In [20]:
# sql = '''
# CREATE TABLE trafficacc(
#     accno number NOT NULL,
#     year numer NOT NULL,
#     month number NOT NULL,
#     accnum number,
#     deathnum number,
#     injurynum number,
#     primary key (accno)
# )
# '''
# cursor.execute(sql)

# sql = 'CREATE SEQUENCE seq_trafficacc START WITH 1 INCREMENT BY 1 '
# cursor.execute(sql)

In [22]:
with open('traffic_acc.csv','r',encoding='utf-8') as f:

    A = f.readlines()
    
    for i in A[1:]:

        # B = [i-1]+[int(x) for x in v.strip().split(',')]
        B = [int(x) for x in i.strip().split(',')]
        sql = 'INSERT INTO trafficacc (caseno, caseYear, caseMonth, accnum, deathnum, injurynum) VALUES(seq_trafficacc.nextval, :1, :2, :3, :4, :5)'
        cursor.execute(sql, B)

dbcon.commit()
cursor.close()
dbcon.close()

sql = 'INSERT INTO trafficacc (caseno, caseYear, caseMonth, accnum, deathnum, injurynum) VALUES(seq_trafficacc.nextval, :1, :2, :3, :4, :5)' 에서 seq_trafficacc.nextval 는 시스템값으로 들어가짐