# DataFrame 생성하기

# #01. DataFrame의 이해

행과 열로 구성된 데이터 구조

데이터 분석에서 가장 일반적으로 사용되는 형태로 엑셀의 시트 구조를 생각하면 이해하기 쉽다.

### [1] DataFrame으로 변환 가능한 데이터 형태

- 2차원 리스트
- 리스트를 원소로 갖는 딕셔너리
- 딕셔너리를 원소로 갖는 리스트
- csv 파일로부터 가져오기 (쉼표로 구분)
- 엑셀 파일로부터 가져오기
- 데이터베이스로부터 가져오기 (SQL)
- 웹 데이터 수집 (OpenAPI 연동, 웹 크롤링)

> 웹에서 수집한 데이터의 경우 `리스트를 원소로 갖는 딕셔너리` 혹은 `딕셔너리를 원소로 갖는 리스트`로 정리한 후 DataFrame으로 변환한다.

## #02. 준비과정

### [1] 패키지 참조

In [ ]:
from pandas import DataFrame, read_csv, read_excel 
# 시작글자가 대문자는 class, 소문자는 function

## #03. DataFrame 생성하기

### [1] 2차원 리스트를 DataFrame으로 변환

#### (1) DataFrame 생성하기

데이터프레임의 구조는 행과 열로 구성된다.

행을 `index` 혹은 `row`라고 하고, 열을 `column`혹은 `변수`라고 한다.

특별한 옵션을 지정하지 않을 경우 인덱스와 컬럼에는 각각 0부터 시작하는 일련번호가 부여된다.

In [ ]:
# 어느 학급의 성적표를 표현한 2차원 리스트
grade_data = [
                [1, "남자", 98,  77,  88,  64],
                [2, "여자", 88,  90,  62,  72],
                [1, "남자", 92,  70,  83,  79],
                [3, "여자", 63,  60,  31,  70],
                [4, "남자", 75,  50,  90,  88]
            ]

# 2차원 리스트를 데이터프레임으로 변환
# -> 학생별 점수 표현
df = DataFrame(grade_data)
df

   0   1   2   3   4   5
0  1  남자  98  77  88  64
1  2  여자  88  90  62  72
2  1  남자  92  70  83  79
3  3  여자  63  60  31  70
4  4  남자  75  50  90  88

#### (2) 데이터에 접근하기

##### 일반 리스트의 경우

행을 우선 접근한다.

In [ ]:
grade_data[0][1]

'남자'

##### 데이터프레임의 경우

열을 우선 접근한다.

In [ ]:
df[0][1]
# df[1][0]으로 위와 같은 데이터에 접근할 수 있다.

2

#### (3) 인덱스와 컬럼 이름 지정하면서 데이터 프레임 생성

In [ ]:
# 인덱스 이름으로 사용할 리스트 
i_names = ['철수', '영희', '민철', '수현', '호영']

# 컬럼 이름으로 사용할 리스트
c_names = ['학년', '성별', '국어', '영어', '수학', '과학']

# 인덱스와 컬럼이름 지정하기
df = DataFrame(grade_data, index=i_names, columns=c_names)
df

    학년  성별  국어  영어  수학  과학
철수   1  남자  98  77  88  64
영희   2  여자  88  90  62  72
민철   1  남자  92  70  83  79
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88

### [2] 리스트를 원소로 갖는 딕셔너리

#### (1) DataFrame 생성하기

딕셔너리의 key가 DataFrame의 column 이름이 된다.

In [ ]:
# 딕셔너리를 통한 데이터 프레임 만들기
# 어느 학급의 성적표를 표현한 딕셔너리
grade_dic = {
    '학년': [1, 2, 1, 3, 4],
    '성별': ['남자', '여자', '남자', '여자', '남자'],
    '국어': [98, 88, 92, 63, 75],
    '영어': [77, 90, 70, 60, 50],
    '수학': [88, 62, 83, 31, 90],
    '과학': [64, 72, 79, 70, 88]
}

# -> 딕셔너리의 key는 DataFrame의 컬럼(열)이름이 된다.
df = DataFrame(grade_dic)
df

   학년  성별  국어  영어  수학  과학
0   1  남자  98  77  88  64
1   2  여자  88  90  62  72
2   1  남자  92  70  83  79
3   3  여자  63  60  31  70
4   4  남자  75  50  90  88

#### (2) 인덱스 이름을 지정하면서 데이터 프레임 생성

In [ ]:
# 인덱스 지정하기
df = DataFrame(grade_dic, index=['철수', '영희', '민철', '수현', '호영'])
# 인덱스 제목 지정하기
df.index.name = '이름' # 별 의미없는 기능으로 거의 사용되지 않음
df

    학년  성별  국어  영어  수학  과학
이름
철수   1  남자  98  77  88  64
영희   2  여자  88  90  62  72
민철   1  남자  92  70  83  79
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88